@font-face {
  font-family: "Roboto";
  src: url("assets/font/Roboto-Regular-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
  background-color: #03045e;
  z-index: 1;
}

a:link,
a:visited {
  text-decoration: none;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding: 80px;
  color: #F8F9FA;
  background: linear-gradient(to right, #000000, #03045e);
}

.menu {
  margin-top: 15px;
  position: absolute;
  bottom: 5px;
  font-size: 15px;
}

.menu > li {
  display: inline;
  margin-right: 100px;

}

.menu li a {
    color: #F8F9FA;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.menu li a:hover {
    background: linear-gradient(to right, #000000, #03045e);

}

.menu > li:last-of-type {
  margin-right: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 350px;
  text-align: center;
  line-height: 1.6em;
}

.email-form-container {
  color: white;
  width: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  top: 300px;
  margin-left: 0;
}

.email-form-header {
  background-color: #696969;
  border: 1px solid #696969;
  text-align: center;
  border-radius: 3px;
  width: 80%;
  width: 40px 0;
  padding: 50px;
  margin-bottom: 25px;
}

.email-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.email-form {
  background-color: #696969;
  border: 1px solid #696969;
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row {
  color: white;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email']{
  background-color: #FFF;
  border: 1px solid #696969;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .instructions {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

@media only screen and (min-width: 700px) {
  .email-form-header,
  .email-form {
    width: 600px;
}

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row select,
  .form-row textarea {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }

   .form-row .instructions {
    margin-left: 120px;
  }

  .form-row button {
    margin-left: 120px;
  }
}